*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 166, 255, 0.514);

    .game {
        background-color: aliceblue;
        width: 900px;
        max-width: 80%;
        border-radius: 10px;
        padding: 10px;
        color: black;
        text-align: center;
        font-size: 35px;

    }
}

