* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 166, 255, 0.514);
}
body .game {
  background-color: aliceblue;
  width: 900px;
  max-width: 80%;
  border-radius: 10px;
  padding: 10px;
  color: black;
  text-align: center;
  font-size: 35px;
}
body .game__answer-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}
body .game__answer {
  background-color: #0066ff;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
}
body .game__answer.correct {
  background-color: lime;
  color: blue;
}
body .game__answer.wrong {
  background-color: red;
}
body .game__functions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
body .game__button {
  font-size: 40px;
  background-color: rgba(0, 150, 0, 0.856);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  padding: 15px 25px;
}
body .game button:hover {
  background-color: #7accff;
  cursor: pointer;
}
body .game .remove {
  display: none;
}